---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import "../styles/global.css";
const pageTitle = "About Me";

const me = {
  firstName: "Che",
  country: "United Kingdom",
  occupation: "Software Engineer",
  hobbies: ["golf", "football", "padel"],
};

const skills = ["HTML", "CSS", "Javascript", "Astro"];
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me</p>
  <ul>
    <li>My name is {me.firstName}</li>
    <li>I live in {me.country}</li>
    {me.hobbies.map((hobby) => <li>{hobby}</li>)}
  </ul>

  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
